webappAnsTiss/Web References/wsTissRecursoGlosa/tissGuiasV3_03_03.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" targetNamespace="http://www.ans.gov.br/padroes/tiss/schemas" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="tissAssinaturaDigital_v1.01.xsd" />
  <include schemaLocation="tissSimpleTypesV3_03_03.xsd" />
  <include schemaLocation="tissComplexTypesV3_03_03.xsd" />
  <complexType name="ctm_anexoSolicitacaoOPME">
    <sequence>
      <element name="cabecalhoAnexo" type="ans:ct_anexoCabecalho" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="profissionalSolicitante" type="ans:ctm_anexoSolicitante" />
      <element name="justificativaTecnica" type="ans:st_texto1000" />
      <element minOccurs="0" name="especificacaoMaterial" type="ans:st_texto500" />
      <element name="opmeSolicitadas">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="opmeSolicitada">
              <complexType>
                <sequence>
                  <element name="identificacaoOPME" type="ans:ct_procedimentoDados" />
                  <element name="opcaoFabricante" type="ans:dm_opcaoFabricante" />
                  <element name="quantidadeSolicitada" type="ans:st_numerico3" />
                  <element minOccurs="0" name="valorSolicitado" type="ans:st_decimal8-2" />
                  <element minOccurs="0" name="registroANVISA" type="ans:st_texto15" />
                  <element minOccurs="0" name="codigoRefFabricante" type="ans:st_texto60" />
                  <element minOccurs="0" name="autorizacaoFuncionamento" type="ans:st_texto30" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="Observacao" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="ctm_anexoSolicitacaoQuimio">
    <sequence>
      <element name="cabecalhoAnexo" type="ans:ct_anexoCabecalho" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="dadosComplementaresBeneficiario" type="ans:ct_dadosComplementaresBeneficiario" />
      <element name="medicoSolicitante" type="ans:ctm_anexoSolicitante" />
      <element name="diagnosticoOncologicoQuimioterapia">
        <complexType>
          <sequence>
            <element name="diagQuimio" type="ans:ct_diagnosticoOncologico" />
            <element name="tumor" type="ans:dm_tumor" />
            <element name="nodulo" type="ans:dm_nodulo" />
            <element name="metastase" type="ans:dm_metastase" />
            <element name="tipoQuimioterapia" type="ans:dm_tipoQuimioterapia" />
            <element name="planoTerapeutico" type="ans:st_texto1000" />
          </sequence>
        </complexType>
      </element>
      <element name="drogasSolicitadas">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="drogaSolicitada" type="ans:ct_drogasSolicitadas" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="tratamentosAnteriores">
        <complexType>
          <sequence>
            <element minOccurs="0" name="cirurgia" type="ans:st_texto40" />
            <element minOccurs="0" name="datacirurgia" type="ans:st_data" />
            <element minOccurs="0" name="areaIrradiada" type="ans:st_texto40" />
            <element minOccurs="0" name="dataIrradiacao" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element name="numeroCiclos" type="ans:st_numerico2" />
      <element name="cicloAtual" type="ans:st_numerico2" />
      <element name="diasCicloAtual" type="ans:st_numerico3" />
      <element name="intervaloCiclos" type="ans:st_numerico3" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="ctm_anexoSolicitacaoRadio">
    <sequence>
      <element name="cabecalhoAnexo" type="ans:ct_anexoCabecalho" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="dadosComplementaresBeneficiario" type="ans:ct_dadosComplementaresBeneficiarioRadio" />
      <element name="medicoSolicitante" type="ans:ctm_anexoSolicitante" />
      <element name="diagnosticoOncologicoRadio">
        <complexType>
          <sequence>
            <element name="diagRadio" type="ans:ct_diagnosticoOncologico" />
            <element minOccurs="0" name="diagnosticoImagem" type="ans:dm_diagnosticoImagem" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="tratamentosAnteriores">
        <complexType>
          <sequence>
            <element minOccurs="0" name="cirurgia" type="ans:st_texto40" />
            <element minOccurs="0" name="datacirurgia" type="ans:st_data" />
            <element minOccurs="0" name="quimioterapia" type="ans:st_texto40" />
            <element minOccurs="0" name="dataQuimioterapia" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element name="numeroCampos" type="ans:st_numerico3" />
      <element name="doseCampo" type="ans:st_numerico4" />
      <element name="doseTotal" type="ans:st_numerico4" />
      <element name="nrDias" type="ans:st_numerico3" />
      <element name="dtPrevistaInicio" type="ans:st_data" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="ctm_anexoSolicitante">
    <sequence>
      <element name="nomeProfissional" type="ans:st_texto70" />
      <element name="telefoneProfissional" type="ans:st_texto11" />
      <element minOccurs="0" name="emailProfissional" type="ans:st_texto60" />
    </sequence>
  </complexType>
  <complexType name="ctm_autorizacaoProrrogacao">
    <sequence>
      <element name="autorizacaoDosServicos" type="ans:ctm_autorizacaoServico" />
      <element minOccurs="0" name="diariasAutorizadas" type="ans:st_numerico3" />
      <element minOccurs="0" name="acomodacaoAutorizada" type="ans:dm_tipoAcomodacao" />
      <element minOccurs="0" name="justificativaOperadora" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="ctm_autorizacaoInternacao">
    <sequence>
      <element name="autorizacaoDosServicos" type="ans:ctm_autorizacaoServico" />
      <element minOccurs="0" name="dataProvavelAdmissao" type="ans:st_data" />
      <element minOccurs="0" name="qtdDiariasAutorizadas" type="ans:st_numerico3" />
      <element minOccurs="0" name="tipoAcomodacaoAutorizada" type="ans:dm_tipoAcomodacao" />
    </sequence>
  </complexType>
  <complexType name="ctm_autorizacaoOPME">
    <sequence>
      <element name="dadosAutorizacao" type="ans:ct_autorizacaoDados" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="statusSolicitacao" type="ans:dm_statusSolicitacao" />
      <element minOccurs="0" name="motivosNegativa">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="motivoNegativa" type="ans:ct_motivoGlosa" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="prestadorAutorizado" type="ans:ct_contratadoDados" />
      <element minOccurs="0" maxOccurs="unbounded" name="servicosAutorizadosOPME">
        <complexType>
          <complexContent mixed="false">
            <extension base="ans:ct_procedimentoAutorizado" />
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_autorizacaoRadio">
    <sequence>
      <element name="dadosAutorizacao" type="ans:ct_autorizacaoDados" />
      <element name="numeroCarteira" type="ans:st_texto20" />
      <element name="nomeBeneficiario" type="ans:st_texto70" />
      <element minOccurs="0" name="numeroCNS" type="ans:st_texto15" />
      <element name="statusSolicitacao" type="ans:dm_statusSolicitacao" />
      <element name="dadosComplementaresBeneficiario" type="ans:ct_dadosComplementaresBeneficiarioRadio" />
      <element name="medicoSolicitante" type="ans:ctm_anexoSolicitante" />
      <element name="diagnosticoOncologicoRadio">
        <complexType>
          <sequence>
            <element name="diagRadio" type="ans:ct_diagnosticoOncologico" />
            <element minOccurs="0" name="diagnosticoImagem" type="ans:dm_diagnosticoImagem" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="tratamentosAnteriores">
        <complexType>
          <sequence>
            <element minOccurs="0" name="cirurgia" type="ans:st_texto40" />
            <element minOccurs="0" name="datacirurgia" type="ans:st_data" />
            <element minOccurs="0" name="quimioterapia" type="ans:st_texto40" />
            <element minOccurs="0" name="dataQuimioterapia" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element name="numeroCampos" type="ans:st_numerico3" />
      <element name="doseCampo" type="ans:st_numerico4" />
      <element name="doseTotal" type="ans:st_numerico4" />
      <element name="nrDias" type="ans:st_numerico3" />
      <element name="dtPrevistaInicio" type="ans:st_data" />
      <element minOccurs="0" name="motivosNegativa">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="motivoNegativa" type="ans:ct_motivoGlosa" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_autorizacaoQuimio">
    <sequence>
      <element name="dadosAutorizacao" type="ans:ct_autorizacaoDados" />
      <element name="numeroCarteira" type="ans:st_texto20" />
      <element name="statusSolicitacao" type="ans:dm_statusSolicitacao" />
      <element name="nomeBeneficiario" type="ans:st_texto70" />
      <element minOccurs="0" name="numeroCNS" type="ans:st_texto15" />
      <element name="dadosComplementaresBeneficiario" type="ans:ct_dadosComplementaresBeneficiario" />
      <element name="medicoSolicitante" type="ans:ctm_anexoSolicitante" />
      <element name="diagnosticoOncologicoQuimioterapia">
        <complexType>
          <sequence>
            <element name="diagQuimio" type="ans:ct_diagnosticoOncologico" />
            <element name="tumor" type="ans:dm_tumor" />
            <element name="nodulo" type="ans:dm_nodulo" />
            <element name="metastase" type="ans:dm_metastase" />
            <element name="tipoQuimioterapia" type="ans:dm_tipoQuimioterapia" />
            <element name="planoTerapeutico" type="ans:st_texto1000" />
          </sequence>
        </complexType>
      </element>
      <element name="drogasSolicitadas">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="drogaSolicitada" type="ans:ct_drogasSolicitadas" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="tratamentosAnteriores">
        <complexType>
          <sequence>
            <element minOccurs="0" name="cirurgia" type="ans:st_texto40" />
            <element minOccurs="0" name="datacirurgia" type="ans:st_data" />
            <element minOccurs="0" name="areaIrradiada" type="ans:st_texto40" />
            <element minOccurs="0" name="dataIrradiacao" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element name="numeroCiclos" type="ans:st_numerico2" />
      <element name="cicloAtual" type="ans:st_numerico2" />
      <element name="diasCicloAtual" type="ans:st_numerico3" />
      <element name="intervaloCiclos" type="ans:st_numerico3" />
      <element minOccurs="0" name="motivosNegativa">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="motivoNegativa" type="ans:ct_motivoGlosa" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_autorizacaoServico">
    <sequence>
      <element name="dadosAutorizacao" type="ans:ct_autorizacaoDados" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element minOccurs="0" name="prestadorAutorizado">
        <complexType>
          <sequence>
            <element name="dadosContratado" type="ans:ct_contratadoDados" />
            <element name="cnesContratado" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="statusSolicitacao" type="ans:dm_statusSolicitacao" />
      <element minOccurs="0" name="motivosNegativa">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="motivoNegativa" type="ans:ct_motivoGlosa" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="servicosAutorizados">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="servicoAutorizado" type="ans:ct_procedimentoAutorizado" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="observacao" type="ans:st_texto1000" />
      <element minOccurs="0" name="autorizacaoQuimio" type="ans:ctm_autorizacaoQuimio" />
      <element minOccurs="0" name="autorizacaoRadio" type="ans:ctm_autorizacaoRadio" />
    </sequence>
  </complexType>
  <complexType name="ctm_beneficiarioComunicacao">
    <sequence>
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="dataEvento" type="ans:st_data" />
      <element name="tipoEvento" type="ans:dm_tipoEvento" />
      <element name="dadosInternacao">
        <complexType>
          <choice>
            <element name="motivoEncerramento" type="ans:dm_motivoSaida" />
            <element name="tipoInternacao" type="ans:dm_tipoInternacao" />
          </choice>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_beneficiarioComunicacaoRecibo">
    <sequence>
      <element name="statusComunicacao" type="ans:dm_simNao" />
      <element name="beneficiarioComunicacao" type="ans:ctm_beneficiarioComunicacao" />
      <element minOccurs="0" name="mensagemErro" type="ans:ct_motivoGlosa" />
    </sequence>
  </complexType>
  <complexType name="ctm_consultaAtendimento">
    <sequence>
      <element name="dataAtendimento" type="ans:st_data" />
      <element name="tipoConsulta" type="ans:dm_tipoConsulta" />
      <element name="procedimento">
        <complexType>
          <sequence>
            <element name="codigoTabela" type="ans:dm_tabela" />
            <element name="codigoProcedimento" type="ans:st_texto10" />
            <element name="valorProcedimento" type="ans:st_decimal8-2" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_consultaGuia">
    <sequence>
      <element name="cabecalhoConsulta" type="ans:ct_guiaCabecalho" />
      <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="contratadoExecutante">
        <complexType>
          <complexContent mixed="false">
            <extension base="ans:ct_contratadoDados">
              <sequence>
                <element name="CNES" type="ans:st_texto7" />
              </sequence>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="profissionalExecutante" type="ans:ct_contratadoProfissionalDados" />
      <element name="indicacaoAcidente" type="ans:dm_indicadorAcidente" />
      <element name="dadosAtendimento" type="ans:ctm_consultaAtendimento" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element minOccurs="0" name="assinaturaDigitalGuia" type="ans:Signature" />
    </sequence>
  </complexType>
  <complexType name="ctm_demonstrativoAnaliseConta">
    <sequence>
      <element name="cabecalhoDemonstrativo" type="ans:ct_demonstrativoCabecalho" />
      <element name="dadosPrestador">
        <complexType>
          <sequence>
            <element name="dadosContratado" type="ans:ct_contratadoDados" />
            <element name="CNES" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosConta">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="dadosProtocolo">
              <complexType>
                <complexContent mixed="false">
                  <extension base="ans:ct_contaMedicaResumo" />
                </complexContent>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="valorInformadoGeral" type="ans:st_decimal10-2" />
      <element name="valorProcessadoGeral" type="ans:st_decimal10-2" />
      <element name="valorLiberadoGeral" type="ans:st_decimal10-2" />
      <element minOccurs="0" name="valorGlosaGeral" type="ans:st_decimal10-2" />
    </sequence>
  </complexType>
  <complexType name="ctm_demonstrativoPagamento">
    <sequence>
      <element name="cabecalhoDemonstrativo" type="ans:ct_demonstrativoCabecalho" />
      <element name="dadosContratado">
        <complexType>
          <sequence>
            <element name="dadosPrestador" type="ans:ct_contratadoDados" />
            <element name="CNES" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="pagamentos">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="pagamentosPorData">
              <complexType>
                <sequence>
                  <element name="dadosPagamento" type="ans:ct_pagamentoDados" />
                  <element name="dadosResumo">
                    <complexType>
                      <sequence>
                        <element maxOccurs="unbounded" name="relacaoProtocolos" type="ans:ct_dadosResumoDemonstrativo" />
                      </sequence>
                    </complexType>
                  </element>
                  <element name="totaisBrutosPorData">
                    <complexType>
                      <sequence>
                        <element name="totalInformadoPorData" type="ans:st_decimal10-2" />
                        <element name="totalProcessadoPorData" type="ans:st_decimal10-2" />
                        <element name="totaLiberadoPorData" type="ans:st_decimal10-2" />
                        <element name="totalGlosaPorData" type="ans:st_decimal10-2" />
                      </sequence>
                    </complexType>
                  </element>
                  <element minOccurs="0" name="debitosCreditosPorData">
                    <complexType>
                      <sequence>
                        <element maxOccurs="unbounded" name="debitosCreditos" type="ans:ct_descontos" />
                      </sequence>
                    </complexType>
                  </element>
                  <element name="totaisLiquidosPorData">
                    <complexType>
                      <sequence>
                        <element name="totalDebitosPorData" type="ans:st_decimal10-2" />
                        <element name="totalCreditosPorData" type="ans:st_decimal10-2" />
                        <element name="liquidoPorData" type="ans:st_decimal10-2" />
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="totaisDemonstrativo">
        <complexType>
          <sequence>
            <element name="totaisBrutosDemonstrativo">
              <complexType>
                <sequence>
                  <element name="valorInformadoBruto" type="ans:st_decimal10-2" />
                  <element name="valorProcessadoBruto" type="ans:st_decimal10-2" />
                  <element name="valorLiberadoBruto" type="ans:st_decimal10-2" />
                  <element name="valorGlosaBruto" type="ans:st_decimal10-2" />
                </sequence>
              </complexType>
            </element>
            <element minOccurs="0" maxOccurs="unbounded" name="debitosCreditosDemonstrativo" type="ans:ct_descontos" />
            <element name="totaisLiquidosDemonstrativo">
              <complexType>
                <sequence>
                  <element name="totalDebitosDemonstrativo" type="ans:st_decimal10-2" />
                  <element name="totalCreditosdemonstrativo" type="ans:st_decimal10-2" />
                  <element name="valorLiberadoDemonstrativo" type="ans:st_decimal10-2" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="ctm_guiaLote">
    <sequence>
      <element name="numeroLote" type="ans:st_texto12" />
      <element name="guiasTISS">
        <complexType>
          <choice>
            <element maxOccurs="100" name="guiaSP-SADT" type="ans:ctm_sp-sadtGuia" />
            <element maxOccurs="100" name="guiaResumoInternacao" type="ans:ctm_internacaoResumoGuia" />
            <element maxOccurs="100" name="guiaHonorarios" type="ans:ctm_honorarioIndividualGuia" />
            <element maxOccurs="100" name="guiaConsulta" type="ans:ctm_consultaGuia" />
            <element maxOccurs="100" name="guiaOdonto" type="ans:cto_guiaOdontologia" />
          </choice>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_honorarioIndividualGuia">
    <sequence>
      <element name="cabecalhoGuia" type="ans:ct_guiaCabecalho" />
      <element name="guiaSolicInternacao" type="ans:st_texto20" />
      <element minOccurs="0" name="senha" type="ans:st_texto20" />
      <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
      <element name="beneficiario">
        <complexType>
          <sequence>
            <element name="numeroCarteira" type="ans:st_texto20" />
            <element name="nomeBeneficiario" type="ans:st_texto70" />
            <element name="atendimentoRN" type="ans:dm_simNao" />
          </sequence>
        </complexType>
      </element>
      <element name="localContratado">
        <complexType>
          <sequence>
            <element name="codigoContratado">
              <complexType>
                <choice>
                  <element name="codigoNaOperadora" type="ans:st_texto14" />
                  <element name="cnpjLocalExecutante" type="ans:st_CNPJ" />
                </choice>
              </complexType>
            </element>
            <element name="nomeContratado" type="ans:st_texto70" />
            <element name="cnes" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosContratadoExecutante">
        <complexType>
          <sequence>
            <element name="codigonaOperadora" type="ans:st_texto14" />
            <element name="nomeContratadoExecutante" type="ans:st_texto70" />
            <element name="cnesContratadoExecutante" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosInternacao">
        <complexType>
          <sequence>
            <element name="dataInicioFaturamento" type="ans:st_data" />
            <element name="dataFimFaturamento" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element name="procedimentosRealizados">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="procedimentoRealizado" type="ans:ct_procedimentoExecutadoHonorIndiv" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element name="valorTotalHonorarios" type="ans:st_decimal10-2" />
      <element name="dataEmissaoGuia" type="ans:st_data" />
      <element minOccurs="0" name="assinaturaDigitalGuia" type="ans:Signature" />
    </sequence>
  </complexType>
  <complexType name="ctm_internacaoDados">
    <sequence>
      <element name="caraterAtendimento" type="ans:dm_caraterAtendimento" />
      <element name="tipoFaturamento" type="ans:dm_tipoFaturamento" />
      <element name="dataInicioFaturamento" type="ans:st_data" />
      <element name="horaInicioFaturamento" type="ans:st_hora" />
      <element name="dataFinalFaturamento" type="ans:st_data" />
      <element name="horaFinalFaturamento" type="ans:st_hora" />
      <element name="tipoInternacao" type="ans:dm_tipoInternacao" />
      <element name="regimeInternacao" type="ans:dm_regimeInternacao" />
      <element minOccurs="0" maxOccurs="8" name="declaracoes">
        <complexType>
          <sequence>
            <element minOccurs="0" name="declaracaoNascido" type="ans:st_texto11" />
            <element minOccurs="0" name="diagnosticoObito" type="ans:st_texto4" />
            <element minOccurs="0" name="declaracaoObito" type="ans:st_texto11" />
            <element minOccurs="0" name="indicadorDORN" type="ans:dm_simNao" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_internacaoDadosSaida">
    <sequence>
      <element minOccurs="0" maxOccurs="4" name="diagnostico" type="ans:st_texto4" />
      <element name="indicadorAcidente" type="ans:dm_indicadorAcidente" />
      <element name="motivoEncerramento" type="ans:dm_motivoSaida" />
    </sequence>
  </complexType>
  <complexType name="ctm_internacaoResumoGuia">
    <sequence>
      <element name="cabecalhoGuia" type="ans:ct_guiaCabecalho" />
      <element name="numeroGuiaSolicitacaoInternacao" type="ans:st_texto20" />
      <element name="dadosAutorizacao" type="ans:ct_autorizacaoInternacao" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="dadosExecutante">
        <complexType>
          <sequence>
            <element name="contratadoExecutante" type="ans:ct_contratadoDados" />
            <element name="CNES" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosInternacao" type="ans:ctm_internacaoDados" />
      <element name="dadosSaidaInternacao" type="ans:ctm_internacaoDadosSaida" />
      <element minOccurs="0" name="procedimentosExecutados">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="procedimentoExecutado" type="ans:ct_procedimentoExecutadoInt" />
          </sequence>
        </complexType>
      </element>
      <element name="valorTotal" type="ans:ct_guiaValorTotal" />
      <element minOccurs="0" name="outrasDespesas" type="ans:ct_outrasDespesas" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element minOccurs="0" name="assinaturaDigitalGuia" type="ans:Signature" />
    </sequence>
  </complexType>
  <complexType name="ctm_internacaoSolicitacaoGuia">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaPrestador" type="ans:st_texto20" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="identificacaoSolicitante">
        <complexType>
          <sequence>
            <element name="dadosDoContratado" type="ans:ct_contratadoDados" />
            <element name="dadosProfissionalContratado" type="ans:ct_contratadoProfissionalDados" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosHospitalSolicitado">
        <complexType>
          <sequence>
            <element name="codigoIndicadonaOperadora" type="ans:st_texto14" />
            <element name="nomeContratadoIndicado" type="ans:st_texto70" />
            <element name="dataSugeridaInternacao" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosInternacao">
        <complexType>
          <sequence>
            <element name="caraterAtendimento" type="ans:dm_caraterAtendimento" />
            <element name="tipoInternacao" type="ans:dm_tipoInternacao" />
            <element name="regimeInternacao" type="ans:dm_regimeInternacao" />
            <element name="qtDiariasSolicitadas" type="ans:st_numerico2" />
            <element name="indicadorOPME" type="ans:dm_simNao" />
            <element name="indicadorQuimio" type="ans:dm_simNao" />
            <element name="indicacaoClinica" type="ans:st_texto500" />
          </sequence>
        </complexType>
      </element>
      <element name="hipotesesDiagnosticas">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="4" name="diagnosticoCID" type="ans:st_texto4" />
            <element name="indicadorAcidente" type="ans:dm_indicadorAcidente" />
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="procedimentosSolicitados">
        <complexType>
          <sequence>
            <element name="procedimento" type="ans:ct_procedimentoDados" />
            <element name="quantidadeSolicitada" type="ans:st_numerico3" />
          </sequence>
        </complexType>
      </element>
      <element name="dataSolicitacao" type="ans:st_data" />
      <element minOccurs="0" name="observacao" type="ans:st_texto1000" />
      <element minOccurs="0" name="anexoClinico">
        <complexType>
          <sequence>
            <element minOccurs="0" name="solicitacaoQuimioterapia" type="ans:ctm_anexoSolicitacaoQuimio" />
            <element minOccurs="0" name="solicitacaoRadioterapia" type="ans:ctm_anexoSolicitacaoRadio" />
            <element minOccurs="0" name="solicitacaoOPME" type="ans:ctm_anexoSolicitacaoOPME" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ctm_prorrogacaoSolicitacaoGuia">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaPrestador" type="ans:st_texto20" />
      <element name="nrGuiaReferenciada" type="ans:st_texto20" />
      <element name="dadosBeneficiario">
        <complexType>
          <sequence>
            <element name="numeroCarteira" type="ans:st_texto20" />
            <element name="nomeBeneficiario" type="ans:st_texto70" />
            <element minOccurs="0" name="identificadorBeneficiario" type="base64Binary" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosContratadoSolicitante" type="ans:ct_contratadoDados" />
      <element name="dadosProfissionalSolicitante" type="ans:ct_contratadoProfissionalDados" />
      <element name="dadosInternacao">
        <complexType>
          <sequence>
            <element minOccurs="0" name="qtDiariasAdicionais" type="ans:st_numerico3" />
            <element minOccurs="0" name="tipoAcomodacaoSolicitada" type="ans:dm_tipoAcomodacao" />
            <element name="indicacaoClinica" type="ans:st_texto500" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" maxOccurs="unbounded" name="procedimentosAdicionais">
        <complexType>
          <sequence>
            <element name="procedimento" type="ans:ct_procedimentoDados" />
            <element name="quantidadeSolicitada" type="ans:st_numerico3" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="anexoClinicoProrrogacao">
        <complexType>
          <sequence>
            <element minOccurs="0" name="solicitacaoQuimioterapia" type="ans:ctm_anexoSolicitacaoQuimio" />
            <element minOccurs="0" name="solicitacaoRadioterapia" type="ans:ctm_anexoSolicitacaoRadio" />
            <element minOccurs="0" name="solicitacaoOPME" type="ans:ctm_anexoSolicitacaoOPME" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element name="dataSolicitacao" type="ans:st_data" />
    </sequence>
  </complexType>
  <complexType name="ctm_sp-sadtAtendimento">
    <sequence>
      <element name="tipoAtendimento" type="ans:dm_tipoAtendimento" />
      <element name="indicacaoAcidente" type="ans:dm_indicadorAcidente" />
      <element minOccurs="0" name="tipoConsulta" type="ans:dm_tipoConsulta" />
      <element minOccurs="0" name="motivoEncerramento" type="ans:dm_motivoSaidaObito" />
    </sequence>
  </complexType>
  <complexType name="ctm_solicitacaoLote">
    <choice>
      <element name="solicitacaoSP-SADT" type="ans:ctm_sp-sadtSolicitacaoGuia" />
      <element name="solicitacaoInternacao" type="ans:ctm_internacaoSolicitacaoGuia" />
      <element name="solicitacaoProrrogacao" type="ans:ctm_prorrogacaoSolicitacaoGuia" />
      <element name="solicitacaoOdontologia" type="ans:cto_odontoSolicitacaoGuia" />
    </choice>
  </complexType>
  <complexType name="ctm_sp-sadtGuia">
    <sequence>
      <element name="cabecalhoGuia">
        <complexType>
          <complexContent mixed="false">
            <extension base="ans:ct_guiaCabecalho">
              <sequence>
                <element minOccurs="0" name="guiaPrincipal" type="ans:st_texto20" />
              </sequence>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element minOccurs="0" name="dadosAutorizacao" type="ans:ct_autorizacaoSADT" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="dadosSolicitante">
        <complexType>
          <sequence>
            <element name="contratadoSolicitante" type="ans:ct_contratadoDados" />
            <element name="profissionalSolicitante" type="ans:ct_contratadoProfissionalDados" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosSolicitacao">
        <complexType>
          <sequence>
            <element minOccurs="0" name="dataSolicitacao" type="ans:st_data" />
            <element name="caraterAtendimento" type="ans:dm_caraterAtendimento" />
            <element minOccurs="0" name="indicacaoClinica" type="ans:st_texto500" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosExecutante">
        <complexType>
          <sequence>
            <element name="contratadoExecutante" type="ans:ct_contratadoDados" />
            <element name="CNES" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element name="dadosAtendimento" type="ans:ctm_sp-sadtAtendimento" />
      <element minOccurs="0" name="procedimentosExecutados">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="procedimentoExecutado" type="ans:ct_procedimentoExecutadoSadt" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="outrasDespesas" type="ans:ct_outrasDespesas" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element name="valorTotal" type="ans:ct_guiaValorTotal" />
      <element minOccurs="0" name="assinaturaDigitalGuia" type="ans:Signature" />
    </sequence>
  </complexType>
  <complexType name="ctm_sp-sadtSolicitacaoGuia">
    <sequence>
      <element name="cabecalhoSolicitacao" type="ans:ct_guiaCabecalho" />
      <element minOccurs="0" name="numeroGuiaPrincipal" type="ans:st_texto20" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="dadosSolicitante">
        <complexType>
          <sequence>
            <element name="contratadoSolicitante" type="ans:ct_contratadoDados" />
            <element name="profissionalSolicitante" type="ans:ct_contratadoProfissionalDados" />
          </sequence>
        </complexType>
      </element>
      <element name="caraterAtendimento" type="ans:dm_caraterAtendimento" />
      <element name="dataSolicitacao" type="ans:st_data" />
      <element minOccurs="0" name="indicacaoClinica" type="ans:st_texto500" />
      <element maxOccurs="unbounded" name="procedimentosSolicitados">
        <complexType>
          <sequence>
            <element name="procedimento" type="ans:ct_procedimentoDados" />
            <element name="quantidadeSolicitada" type="ans:st_numerico3" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="dadosExecutante">
        <complexType>
          <sequence>
            <element name="codigonaOperadora" type="ans:st_texto14" />
            <element name="nomeContratado" type="ans:st_texto70" />
            <element name="CNES" type="ans:st_texto7" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="anexoClinico">
        <complexType>
          <sequence>
            <element minOccurs="0" name="solicitacaoQuimioterapia" type="ans:ctm_anexoSolicitacaoQuimio" />
            <element minOccurs="0" name="solicitacaoRadioterapia" type="ans:ctm_anexoSolicitacaoRadio" />
            <element minOccurs="0" name="solicitacaoOPME" type="ans:ctm_anexoSolicitacaoOPME" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="ctm_recursoGlosa">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaRecGlosaPrestador" type="ans:st_texto20" />
      <element name="nomeOperadora" type="ans:st_texto70" />
      <element name="objetoRecurso" type="ans:dm_objetoRecurso" />
      <element minOccurs="0" name="numeroGuiaRecGlosaOperadora" type="ans:st_texto20" />
      <element name="dadosContratado" type="ans:ct_contratadoDados" />
      <element name="numeroLote" type="ans:st_texto12" />
      <element name="numeroProtocolo" type="ans:st_numerico12" />
      <element name="opcaoRecurso">
        <complexType>
          <choice>
            <element name="recursoProtocolo">
              <complexType>
                <sequence>
                  <element name="codigoGlosaProtocolo" type="ans:dm_tipoGlosa" />
                  <element name="justificativaProtocolo" type="ans:st_texto150" />
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="100" name="recursoGuia">
              <complexType>
                <sequence>
                  <element name="numeroGuiaOrigem" type="ans:st_texto20" />
                  <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
                  <element minOccurs="0" name="senha" type="ans:st_texto20" />
                  <element name="opcaoRecursoGuia">
                    <complexType>
                      <choice>
                        <element maxOccurs="unbounded" name="recursoGuiaCompleta">
                          <complexType>
                            <sequence>
                              <element name="codGlosaGuia" type="ans:dm_tipoGlosa" />
                              <element name="justificativaGuia" type="ans:st_texto150" />
                            </sequence>
                          </complexType>
                        </element>
                        <element maxOccurs="unbounded" name="itensGuia">
                          <complexType>
                            <sequence>
                              <element name="dataInicio" type="ans:st_data" />
                              <element minOccurs="0" name="dataFim" type="ans:st_data" />
                              <element name="procRecurso" type="ans:ct_procedimentoDados" />
                              <element minOccurs="0" name="grauParticipacao" type="ans:dm_grauPart" />
                              <element name="codGlosaItem" type="ans:dm_tipoGlosa" />
                              <element name="valorRecursado" type="ans:st_decimal8-2" />
                              <element name="justificativaItem" type="ans:st_texto150" />
                            </sequence>
                          </complexType>
                        </element>
                      </choice>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </choice>
        </complexType>
      </element>
      <element name="valorTotalRecursado" type="ans:st_decimal10-2" />
      <element name="dataRecurso" type="ans:st_data" />
    </sequence>
  </complexType>
  <complexType name="cto_autorizacaoServico">
    <sequence>
      <element name="dadosAutorizacao" type="ans:ct_autorizacaoDados" />
      <element name="numeroCarteira" type="ans:st_texto20" />
      <element name="nomeBeneficiario" type="ans:st_texto70" />
      <element minOccurs="0" name="numeroCNS" type="ans:st_texto15" />
      <element minOccurs="0" name="identificadorBeneficiario" type="base64Binary" />
      <element name="statusSolicitacao" type="ans:dm_statusSolicitacao" />
      <element minOccurs="0" name="prestadorAutorizado" type="ans:ct_contratadoDados" />
      <element minOccurs="0" maxOccurs="unbounded" name="procedimentosAutorizados">
        <complexType>
          <sequence>
            <element name="procSolic" type="ans:ct_procedimentoDados" />
            <element minOccurs="0" name="denteRegiao">
              <complexType>
                <choice>
                  <element name="codDente" type="ans:dm_dente" />
                  <element name="codRegiao" type="ans:dm_regiao" />
                </choice>
              </complexType>
            </element>
            <element minOccurs="0" name="denteFace" type="ans:st_texto5" />
            <element name="qtdProc" type="ans:st_numerico2" />
            <element minOccurs="0" name="qtdUS" type="ans:st_decimal8-2" />
            <element name="valorProc" type="ans:st_decimal8-2" />
            <element minOccurs="0" name="valorFranquia" type="ans:st_decimal8-2" />
            <element name="aut" type="ans:dm_simNao" />
            <element minOccurs="0" maxOccurs="unbounded" name="motivosNegativa" type="ans:ct_motivoGlosa" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="motivosNegativa">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="motivoNegativa" type="ans:ct_motivoGlosa" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="cto_anexoSituacaoInicial">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaAnexo" type="ans:st_texto20" />
      <element name="numeroGuiaReferenciada" type="ans:st_texto20" />
      <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
      <element name="nomeBeneficiario" type="ans:st_texto70" />
      <element name="numeroCarteira" type="ans:st_texto20" />
      <element name="ct_situacaoInicial">
        <complexType>
          <sequence>
            <element name="situacaoClinica" type="ans:ct_situacaoClinica" />
            <element name="doencaPeriodontal" type="ans:st_logico" />
            <element name="alteracaoTecidoMole" type="ans:st_logico" />
            <element minOccurs="0" name="observacao" type="ans:st_texto500" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="cto_anexoSituacaoInicialnaGTO">
    <sequence>
      <element name="numeroGuiaAnexo" type="ans:st_texto20" />
      <element name="numeroGuiaReferenciada" type="ans:st_texto20" />
      <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
      <element name="ct_situacaoInicial">
        <complexType>
          <sequence>
            <element name="situacaoClinica" type="ans:ct_situacaoClinica" />
            <element minOccurs="0" name="doencaPeriodontal" type="ans:st_logico" />
            <element minOccurs="0" name="alteracaoTecidoMole" type="ans:st_logico" />
            <element minOccurs="0" name="observacao" type="ans:st_texto500" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="cto_demonstrativoOdontologia">
    <sequence>
      <element name="cabecalhoDemonstrativoOdonto">
        <complexType>
          <sequence>
            <element name="registroANS" type="ans:st_registroANS" />
            <element name="numeroDemonstrativo" type="ans:st_texto12" />
            <element name="nomeOperadora" type="ans:st_texto70" />
            <element name="cnpjOper" type="ans:st_CNPJ" />
            <element name="periodoProc">
              <complexType>
                <sequence>
                  <element name="datainicio" type="ans:st_data" />
                  <element name="datafim" type="ans:st_data" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="dadosPrestador">
        <complexType>
          <sequence>
            <element name="codigoPrestador" type="ans:st_texto14" />
            <element name="nomePrestador" type="ans:st_texto70" />
            <element name="cpfCNPJContratado">
              <complexType>
                <choice>
                  <element name="cnpjPrestador" type="ans:st_CNPJ" />
                  <element name="cpfContratado" type="ans:st_CPF" />
                </choice>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="dadosPagamentoPorData">
        <complexType>
          <sequence>
            <element name="dadosPagamento">
              <complexType>
                <sequence>
                  <element name="dataPagamento" type="ans:st_data" />
                  <element minOccurs="0" name="banco" type="ans:st_texto4" />
                  <element minOccurs="0" name="agencia" type="ans:st_texto7" />
                  <element minOccurs="0" name="conta" type="ans:st_texto20" />
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="unbounded" name="protocolos">
              <complexType>
                <sequence>
                  <element name="numeroLote" type="ans:st_texto12" />
                  <element name="numeroProtocolo" type="ans:st_texto12" />
                  <element maxOccurs="unbounded" name="dadosPagamentoGuia">
                    <complexType>
                      <sequence>
                        <element name="numeroGuiaPrestador" type="ans:st_texto20" />
                        <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
                        <element name="recurso" type="ans:dm_simNao" />
                        <element name="nomeExecutante" type="ans:st_texto70" />
                        <element name="carteiraBeneficiario" type="ans:st_texto20" />
                        <element name="nomeBeneficiario" type="ans:st_texto70" />
                        <element maxOccurs="unbounded" name="dadosPagamento">
                          <complexType>
                            <sequence>
                              <element name="procedimento" type="ans:ct_procedimentoDados" />
                              <element minOccurs="0" name="denteRegiao">
                                <complexType>
                                  <choice>
                                    <element name="codDente" type="ans:dm_dente" />
                                    <element name="codRegiao" type="ans:dm_regiao" />
                                  </choice>
                                </complexType>
                              </element>
                              <element minOccurs="0" name="denteFace" type="ans:st_texto5" />
                              <element name="dataRealizacao" type="ans:st_data" />
                              <element name="qtdProc" type="ans:st_numerico2" />
                              <element name="valorInformado" type="ans:st_decimal7-2" />
                              <element name="valorProcessado" type="ans:st_decimal7-2" />
                              <element name="valorGlosaEstorno" type="ans:st_decimal7-2" />
                              <element name="valorFranquia" type="ans:st_decimal7-2" />
                              <element name="valorLiberado" type="ans:st_decimal7-2" />
                              <element minOccurs="0" maxOccurs="unbounded" name="codigosGlosa" type="ans:dm_tipoGlosa" />
                            </sequence>
                          </complexType>
                        </element>
                        <element minOccurs="0" name="observacaoGuia" type="ans:st_texto500" />
                        <element name="valorTotalInformadoGuia" type="ans:st_decimal8-2" />
                        <element name="valorTotalProcessadoGuia" type="ans:st_decimal8-2" />
                        <element name="valorTotalGlosaGuia" type="ans:st_decimal8-2" />
                        <element name="valorTotalFranquiaGuia" type="ans:st_decimal8-2" />
                        <element name="valorTotalLiberadoGuia" type="ans:st_decimal8-2" />
                      </sequence>
                    </complexType>
                  </element>
                  <element name="totaisPorProtocolo">
                    <complexType>
                      <sequence>
                        <element name="valorTotalInformadoPorProtocolo" type="ans:st_decimal10-2" />
                        <element name="valorTotalProcessadoPorProtocolo" type="ans:st_decimal10-2" />
                        <element name="valorTotalGlosaPorProtocolo" type="ans:st_decimal10-2" />
                        <element name="valorTotalFranquiaPorProtocolo" type="ans:st_decimal10-2" />
                        <element name="valorTotalLiberadoPorProtocolo" type="ans:st_decimal10-2" />
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element name="totaisPorData">
              <complexType>
                <sequence>
                  <element name="valorBrutonformadoPorData" type="ans:st_decimal10-2" />
                  <element name="valorBrutoProcessadoPorData" type="ans:st_decimal10-2" />
                  <element name="valorBrutoGlosaPorData" type="ans:st_decimal10-2" />
                  <element name="valorBrutoFranquiaPorData" type="ans:st_decimal10-2" />
                  <element name="valorBrutoLiberadoPorData" type="ans:st_decimal10-2" />
                </sequence>
              </complexType>
            </element>
            <element minOccurs="0" name="debCredPorDataPagamento">
              <complexType>
                <sequence>
                  <element maxOccurs="unbounded" name="descontos" type="ans:ct_descontos" />
                </sequence>
              </complexType>
            </element>
            <element name="totalLiquidoPorData">
              <complexType>
                <sequence>
                  <element name="valorTotalDebitosPorData" type="ans:st_decimal10-2" />
                  <element name="valorTotalCreditosPorData" type="ans:st_decimal10-2" />
                  <element name="valorFinalAReceberPorData" type="ans:st_decimal10-2" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="totaisBrutoDemonstrativo">
        <complexType>
          <sequence>
            <element name="valorInformadoPorDemonstrativoData" type="ans:st_decimal10-2" />
            <element name="valorlProcessadoPorDemonstrativo" type="ans:st_decimal10-2" />
            <element name="valorlGlosaPorDemonstrativo" type="ans:st_decimal10-2" />
            <element name="valoFranquiaPorDemonstrativo" type="ans:st_decimal10-2" />
            <element name="valorLiberadoPorDemonstrativo" type="ans:st_decimal10-2" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="debCredDemonstrativo">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="descontos" type="ans:ct_descontos" />
          </sequence>
        </complexType>
      </element>
      <element name="totalDebitosDemonstativo" type="ans:st_decimal10-2" />
      <element name="totalCreditosDemonstrativo" type="ans:st_decimal10-2" />
      <element name="valorRecebidoDemonstrativo" type="ans:st_decimal10-2" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
    </sequence>
  </complexType>
  <complexType name="cto_guiaOdontologia">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaPrestador" type="ans:st_texto20" />
      <element minOccurs="0" name="numeroGuiaPrincipal" type="ans:st_texto20" />
      <element minOccurs="0" name="dataAutorizacao" type="ans:st_data" />
      <element minOccurs="0" name="senhaAutorizacao" type="ans:st_texto20" />
      <element minOccurs="0" name="validadeSenha" type="ans:st_data" />
      <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
      <element name="dadosBeneficiario" type="ans:ct_beneficiarioDados" />
      <element name="planoBeneficiario" type="ans:st_texto40" />
      <element minOccurs="0" name="nomeEmpresa" type="ans:st_texto40" />
      <element minOccurs="0" name="numeroTelefone" type="ans:st_texto11" />
      <element minOccurs="0" name="nomeTitular" type="ans:st_texto70" />
      <element name="dadosProfissionaisResponsaveis">
        <complexType>
          <sequence>
            <element minOccurs="0" name="nomeProfSolic" type="ans:st_texto70" />
            <element minOccurs="0" name="croSolic" type="ans:st_texto15" />
            <element minOccurs="0" name="ufSolic" type="ans:dm_UF" />
            <element minOccurs="0" name="cbosSolic" type="ans:dm_CBOS" />
            <element name="codigoProfExec" type="ans:st_texto14" />
            <element name="nomeProfExec" type="ans:st_texto70" />
            <element name="croExec" type="ans:st_texto15" />
            <element name="ufExec" type="ans:dm_UF" />
            <element name="cnesExec" type="ans:st_texto7" />
            <element minOccurs="0" name="nomeProfExec2" type="ans:st_texto70" />
            <element minOccurs="0" name="croExec2" type="ans:st_texto15" />
            <element minOccurs="0" name="ufExec2" type="ans:dm_UF" />
            <element name="cbosExec2" type="ans:dm_CBOS" />
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="procedimentosExecutados">
        <complexType>
          <sequence>
            <element name="procSolic" type="ans:ct_procedimentoDados" />
            <element minOccurs="0" name="denteRegiao">
              <complexType>
                <choice>
                  <element name="codDente" type="ans:dm_dente" />
                  <element name="codRegiao" type="ans:dm_regiao" />
                </choice>
              </complexType>
            </element>
            <element minOccurs="0" name="denteFace" type="ans:st_texto5" />
            <element name="qtdProc" type="ans:st_numerico2" />
            <element minOccurs="0" name="qtdUS" type="ans:st_decimal8-2" />
            <element name="valorProc" type="ans:st_decimal8-2" />
            <element minOccurs="0" name="valorFranquia" type="ans:st_decimal8-2" />
            <element name="autorizado" type="ans:st_logico" />
            <element name="dataRealizacao" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="dataTerminoTrat" type="ans:st_data" />
      <element name="tipoAtendimento" type="ans:dm_tipoAtendimentoOdonto" />
      <element name="tipoFaturamento" type="ans:dm_tipoFaturamentoOdonto" />
      <element minOccurs="0" name="qtdTotalUS" type="ans:st_decimal8-2" />
      <element name="valorTotalProc" type="ans:st_decimal10-2" />
      <element minOccurs="0" name="valorTotalFranquia" type="ans:st_decimal10-2" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element minOccurs="0" name="odontoInicial" type="ans:cto_anexoSituacaoInicialnaGTO" />
      <element minOccurs="0" name="assinaturaDigitalGuia" type="ans:Signature" />
    </sequence>
  </complexType>
  <complexType name="cto_odontoSolicitacaoGuia">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaPrestador" type="ans:st_texto20" />
      <element minOccurs="0" name="numeroGuiaPrincipal" type="ans:st_texto20" />
      <element name="numeroCarteira" type="ans:st_texto20" />
      <element name="nomeBeneficiario" type="ans:st_texto70" />
      <element name="atendimentoRN" type="ans:dm_simNao" />
      <element minOccurs="0" name="numeroCNS" type="ans:st_texto15" />
      <element minOccurs="0" name="identificadorBeneficiario" type="base64Binary" />
      <element name="planoBeneficiario" type="ans:st_texto40" />
      <element minOccurs="0" name="nomeEmpresa" type="ans:st_texto40" />
      <element minOccurs="0" name="numeroTelefone" type="ans:st_texto20" />
      <element minOccurs="0" name="nomeTitular" type="ans:st_texto70" />
      <element name="dadosProfissionaisResponsaveis">
        <complexType>
          <sequence>
            <element minOccurs="0" name="nomeProfSolic" type="ans:st_texto70" />
            <element minOccurs="0" name="croSolic" type="ans:st_texto20" />
            <element minOccurs="0" name="ufSolic" type="ans:dm_UF" />
            <element minOccurs="0" name="cbosSolic" type="ans:dm_CBOS" />
            <element name="codigoProfExec" type="ans:st_texto14" />
            <element name="nomeProfExec" type="ans:st_texto70" />
            <element name="croExec" type="ans:st_texto20" />
            <element name="ufExec" type="ans:dm_UF" />
            <element name="cnesExec" type="ans:st_texto7" />
            <element minOccurs="0" name="nomeProfExec2" type="ans:st_texto70" />
            <element minOccurs="0" name="croExec2" type="ans:st_texto20" />
            <element minOccurs="0" name="ufExec2" type="ans:dm_UF" />
            <element name="cbosExec2" type="ans:dm_CBOS" />
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="procedimentosSolicitados">
        <complexType>
          <sequence>
            <element name="procSolic" type="ans:ct_procedimentoDados" />
            <element minOccurs="0" name="denteRegiao">
              <complexType>
                <choice>
                  <element name="codDente" type="ans:dm_dente" />
                  <element name="codRegiao" type="ans:dm_regiao" />
                </choice>
              </complexType>
            </element>
            <element minOccurs="0" name="denteFace" type="ans:st_texto5" />
            <element name="qtdProc" type="ans:st_numerico2" />
            <element minOccurs="0" name="qtdUS" type="ans:st_decimal7-2" />
            <element name="valorProc" type="ans:st_decimal8-2" />
            <element minOccurs="0" name="valorFranquia" type="ans:st_decimal8-2" />
            <element minOccurs="1" name="aut" type="ans:dm_simNao" />
            <element minOccurs="0" name="dataRealizacao" type="ans:st_data" />
          </sequence>
        </complexType>
      </element>
      <element minOccurs="0" name="dataTerminoTrat" type="ans:st_data" />
      <element name="tipoAtendimento" type="ans:dm_tipoAtendimentoOdonto" />
      <element minOccurs="0" name="qtdTotalUS" type="ans:st_decimal8-2" />
      <element name="valorTotalProc" type="ans:st_decimal8-2" />
      <element minOccurs="0" name="valorTotalFranquia" type="ans:st_decimal8-2" />
      <element minOccurs="0" name="observacao" type="ans:st_texto500" />
      <element minOccurs="0" name="odontoInicial" type="ans:cto_anexoSituacaoInicial" />
    </sequence>
  </complexType>
  <complexType name="cto_recursoGlosaOdonto">
    <sequence>
      <element name="registroANS" type="ans:st_registroANS" />
      <element name="numeroGuiaRecGlosaPrestador" type="ans:st_texto20" />
      <element name="nomeOperadora" type="ans:st_texto70" />
      <element name="objetoRecurso" type="ans:dm_objetoRecurso" />
      <element minOccurs="0" name="numeroGuiaRecGlosaOperadora" type="ans:st_texto20" />
      <element name="dadosContratado" type="ans:ct_contratadoDados" />
      <element name="numeroLote" type="ans:st_texto12" />
      <element name="numeroProtocolo" type="ans:st_numerico12" />
      <element name="opcaoRecurso">
        <complexType>
          <choice>
            <element name="recursoProtocolo">
              <complexType>
                <sequence>
                  <element name="codigoGlosaProtocolo" type="ans:dm_tipoGlosa" />
                  <element name="justificativaProtocolo" type="ans:st_texto150" />
                </sequence>
              </complexType>
            </element>
            <element maxOccurs="100" name="recursoGuia">
              <complexType>
                <sequence>
                  <element name="numeroGuiaPrestador" type="ans:st_texto20" />
                  <element minOccurs="0" name="numeroGuiaOperadora" type="ans:st_texto20" />
                  <element minOccurs="0" name="senha" type="ans:st_texto20" />
                  <element name="nomeBeneficiario" type="ans:st_texto70" />
                  <element name="codGlosaGuia" type="ans:dm_tipoGlosa" />
                  <element name="justificativaGuia" type="ans:st_texto150" />
                  <element minOccurs="0" maxOccurs="unbounded" name="recursoProcedimento">
                    <complexType>
                      <sequence>
                        <element name="dataRealizacao" type="ans:st_data" />
                        <element minOccurs="0" name="denteRegiao">
                          <complexType>
                            <choice>
                              <element name="codDente" type="ans:dm_dente" />
                              <element name="codRegiao" type="ans:dm_regiao" />
                            </choice>
                          </complexType>
                        </element>
                        <element minOccurs="0" name="denteFace" type="ans:dm_face" />
                        <element name="quantidade" type="ans:st_numerico2" />
                        <element name="procRecurso" type="ans:ct_procedimentoDados" />
                        <element name="codGlosaProc" type="ans:dm_tipoGlosa" />
                        <element name="justificativaProc" type="ans:st_texto150" />
                        <element name="valorRecursado" type="ans:st_decimal8-2" />
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </choice>
        </complexType>
      </element>
      <element name="valorTotalRecursado" type="ans:st_decimal10-2" />
      <element name="dataRecurso" type="ans:st_data" />
    </sequence>
  </complexType>
</schema>